body{
    background-image: linear-gradient( 98.7deg,  rgba(6,238,243,1) 10.6%, rgba(34,126,209,1) 72.2%, rgba(35,44,51,1) 122.5%, rgba(35,44,51,1) 122.5% );
}
.main{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    gap:0px;
    width:800px;
    height:700px;
    border:5px solid black;
}
.box{
    width:100%;
    height: 100%;
    background-color: rgb(52, 49, 49);
    border:1px solid black;
}
.box1{
    width:100%;
    height: 100%;
    border:1px solid black;
    background-color: white;
}


